@tailwind base;
@tailwind components;
@tailwind utilities;

hmtl,
body {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 210 23% 97%;
    --background-secondary: 120 100% 99%;
    --foreground: 210 15% 12%;
    --foreground-secondary: 220 7% 49%;
    --primary: 246 76% 58%;
    --secondary: 227 86% 94%;
    --tertiary: 220 7% 49%;
    --success: 145 68% 47%;
    --page-size: calc(100vh - 5rem);
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --background: 150 36% 10%;
      --btn-background: 146 80% 40%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  } */
}

@layer utilities {
  @media (min-width: 1024px) {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      background-color: hsl(var(--tertiary));
      border: 6px solid transparent;
      border-radius: 100vw;
    }

    .scrollbar::-webkit-scrollbar-track {
      background: hsl(var(--background));
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: hsl(var(--tertiary));
      background-clip: padding-box;
      border: 6px solid transparent;
      border-radius: 100vw;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
    scrollbar-color: inherit;
  }
}

/* .menu li > *:not(ul):not(.menu-title):not(details):active {
  @apply bg-secondary;
  @apply text-white;
}
 */
.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
